/*  general setup  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,400;0,600;0,800;1,300;1,400;1,500:1,600;1,800&display=swap'); /* Rubik Google Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap'); /* Nunito Google Font */

html, 
body {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(83, 83, 83);
}

/* common stuff */
/* that blue color: #5A51C7 */
/* default text grey color: rgb(83, 83, 83); */

h4 {
    font-weight: 500;
    font-size: 1.1em;
}

h5 {
    font-weight: 400;
    font-size: 1.0em;
}
p {
    font-weight: 200;
    font-size: 1.0em;
}
h2.section-title {
    font-size: 1.4em;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: rgb(83, 83, 83);   
}
a:hover {
    color: #5A51C7;
}

button {
    border-radius: 2px;
    cursor: pointer;
}
button.disabled {
    cursor: not-allowed;
    background-color: #a7a7a7;
}
button.disabled:hover,
button.disabled:active {
    background-color: #a7a7a7;
    box-shadow: none;
}

.btn-blue {
    background-color: #5A51C7;
    color: white;
}
.btn-blue:hover,
.btn-blue:active {
    background-color: #443D9B;
}
.btn-blue:active {
    box-shadow: inset 1px 1px 3px 2px rgb(36, 36, 36);
    box-sizing: border-box;
}

.btn-black {
    background-color: black;
    color: white;
}
.btn-black:hover,
.btn-black:active {
    background-color: #3B355A;
}
.btn-black:active {
    box-shadow: inset 1px 1px 3px 2px rgb(36, 36, 36);
    box-sizing: border-box;
}

/*  top nav area  */
header {
    display: inline-flex;
    width: 100%;
}


div.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

.logo img {
    width: 100%;
}

nav {
    width: 73%;
    padding: 1%;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
}

li.nav-item {
    margin: auto 8px;
    text-align: center;
    border-bottom: 4px solid transparent;
    padding: 8px 16px;
}

li.nav-item:hover {
    border-bottom: solid 4px #5A51C7;
}

li.nav-item.here-now {
    border-bottom: solid 4px #5A51C7;
}

nav a:hover {
    color: rgb(83, 83, 83);
}

/* section general */
.section-container {
    padding-top: 65px; /* default values */
}

.section-content {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid grey;
    padding-bottom: 65px; /* default values */
}

/*  Footer  */
footer {
    padding-top: 30px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer-row {
    display: inline-flex;
    justify-content: space-between;
}

footer img.logoB {
    max-width: 250px;
    width: 10%;
    align-self: flex-start;
}
.sitemap {
    width: 72%;
    display: flex;
    justify-content: space-around;
}

ul.nav-column {
    list-style-type: none;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
}

.nav-column li {
    margin-bottom: 10px;
}

li.footer-nav-head {
    color: #5A51C7;
    font-weight: 600;
}

ul.disabled * { /* for sitemap endpoints that are not ready yet */
    opacity: 55%;
}

.sns-area {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.sns-area .sns-icon img {
    width: 25px;
    margin: 5px 0;
}

footer .copyright {
    font-size: 0.7rem;
    display: block;
    width: 100%;
    padding: 20px 0 10px;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    body {
        background-color: lightcyan;
    }
    header {
        align-items: center;
    }
    .section-content {
        width: 90%;
        padding-bottom: 45px; /* default values */
    }
    footer {
        padding-top: 30px;
        width: 90%;
    }
    ul.nav-column {
        font-size: 0.8rem;
    }
    
}
@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        background-color: lightgrey;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    div.logo {
        min-width: 140px;
        padding-top: 2%;
        text-align: center;
    }

    .logo img {
        width: 100%;

    }

    
    nav {
        width: 80%;
        padding: 0;
        display: flex;
        /* justify-content: center; */
    }
    nav.nav-list ul {
        margin: 8px;
        width: 100%;
        justify-content: space-between;
    }
    footer img.logoB {
        width: 20%;
        max-width: none;
    }

    footer .nav-column a {
        display: none;
    }

    footer .sitemap {
        width: 50%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
 
}
@media only screen and (max-width: 320px) {
    body {
        background-color: lightyellow;
    }

}

/* ================================================================================= */
/* ================================================================================= */
/* --------------------------------- UX/UI HOME PAGE ------------------------------- */
/* ================================================================================= */
/* ================================================================================= */

/*  For Hero Copy Section  */
section.top-ux-hero-area {
    padding-top: 0px;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
.top-ux-hero-area .section-content {
    padding-bottom: 125px;
}

.hero-copy-text {
    margin-top: 120px;
}

.hero-copy-text h1 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 1.6em;
    font-weight: 100;
    font-style: italic;
}

.hero-copy-text h1 b {
    font-weight: 400;
}

h1#copy1 {
    animation: copySlideIn 16s ease-in-out 0s infinite backwards;;
}
h1#copy2 {
    animation: copySlideIn 16s ease-in-out 4s infinite backwards;
}
h1#copy3 {
    animation: copySlideIn 16s ease-in-out 8s infinite backwards;
}
h1#copy4 {
    animation: copySlideIn 16s ease-in-out 12s infinite backwards;
}

@keyframes copySlideIn {
    0% {
        display: none;
        visibility: hidden;
        height: 0;
        transform: translateX(-100%);
        
    }
    6.75% {
        display: block;
        visibility: visible;
        height: 100%;
        transform: translateX(0);
    }
    12.5% {
        display: block;
        visibility: visible;
        height: 100%;
        transform: translateX(0);
    }
    18.75% {
        display: block;
        visibility: visible;
        height: 100%;
        transform: translateX(0);
    }
    25% {
        display: none;
        visibility: hidden;
        height: 0;
        transform: translateX(100%);
    }
    100% {
        display: none;
        visibility: hidden;
        height: 0;
        transform: translateX(100%);
    }
}

/*  For short self intro Section  */
section.short-self-intro {
    padding-top: 105px;
}
.short-self-intro .section-content  {
    overflow: auto;
    display: flex;
    align-items: center;
    padding-bottom: 105px;
}
img.profile-photo-home {
    width: 25%;
    margin-left: 80px;
}

.quick-profile-text {
    width: 45%;
    /* max-width: 600px; */
    margin-right: 60px;
    margin-left: 80px;
}

.quick-profile-text h5 {
    font-size: 1.3rem;
    color: #969696;
    font-weight: 200;
}

/* short skills section */

section.short-skills {
    /* padding-top: 65px; */
}
.short-skills .section-content {
    overflow: auto;
    padding-bottom: 125px;
}

.skill-card-list {
    display: inline-flex;
    flex-direction: row;
    padding: 20px 0;
    align-items: flex-start;
    justify-content: space-between;
}

.skill-card {
    width: 25%;
}


/* works sneakpeak area */
section.works-sneakpeak {

}
.works-sneakpeak .section-content {
}

div.casestudy-card {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
}

div.project-images {
    max-width: 600px;
    min-height: 300px;
    padding: 20px 0;
    position: relative;
}

img.desktop-mockup-image {
    width: 85%;
    max-width: 450px;
    height: auto;
    margin-left: 2%;
}
img.mobile-mockup-image {
    width: 35%;
    max-width: 250px;
    margin-left: 2%;
    height: auto;
}

img#mtch-desktop {
    margin-left: -4%;
}
img#mtch-mobile {
    position: absolute;
    margin: 50px 0 0 -100px;
    max-width: 120px;
}

img.trailmix {
    margin-top: 30px;
}

div.project-description {
    width: 55%;
    display: flex;
    flex-direction: column;
}

p.project-detail {
    margin-bottom: 2%;
}
button.read-more {
    padding: 10px 32px;
    font-size: 1.0em;
    border: none;
    margin: 10px auto 0;
}


@media only screen and (max-width: 1024px) {
    body {
        background-color: lightcyan;
    }
    
}
@media only screen and (max-width: 768px) {
    body {
        background-color: lightgrey;
    }

    .top-ux-hero-area .section-content {
        padding-bottom: 75px;
    }
    
    .hero-copy-text {
        margin-top: 60px;
    }
    
    .hero-copy-text h1 {
        font-size: 1.3em;
    }

    section.short-self-intro {
        padding-top: 45px;
    }
    .short-self-intro .section-content  {
        flex-direction: column;
        padding-bottom:45px;
    }
    img.profile-photo-home {
        width: 66%;
        margin: 0 auto;
    }
    
    .quick-profile-text {
        width: 90%;
        margin: 0 auto;
    }
    
    .quick-profile-text h5 {
        font-size: 1.1rem;
    }

    .short-skills .section-content {
        padding-bottom: 45px;
    }
    
    .skill-card-list {
        flex-direction: column;
        padding: 10px 0;
        align-items: center;
    }
    
    .skill-card {
        width: 90%;
    }

    div.casestudy-card {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        justify-content: center;
        width: 90%;
    }
    
    div.project-images {
        max-width: 600px;
        min-height: 220px;
        margin: 2% auto;
    }
    div.project-images#mtch {
        margin-bottom: 10px;
    }
    div.project-images#trailmix {
        display: flex;
        align-items: center;
    }
    
    img.desktop-mockup-image {
        width: 100%;
        max-width: 450px;
        margin-left: 0%;
    }
    img.mobile-mockup-image {
        width: 35%;
    }
    
    img#mtch-desktop {
        margin-left: 0%;
    }
    img#mtch-mobile {
        width: 30%;
        margin: 50px 0 0 -90px;
    }
    
    img.trailmix {
        margin-top: 30px;
        margin: 30px auto 10px;
    }

    .project-title {
        text-align: center;
        margin: 2% auto;
    }
    
    div.project-description {
        width: 100%;
        margin: 0 auto;
    }
    
    p.project-detail {
        margin: 2% auto;
    }

}
@media only screen and (max-width: 320px) {
    body {
        background-color: lightyellow;
    }
}


/* ================================================================================= */
/* ================================================================================= */
/* ------------------------------------ ABOUT PAGE --------------------------------- */
/* ================================================================================= */
/* ================================================================================= */

/* about me top area */
.about-me-self-intro .section-content {
    
}
.long-profile-zone {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p.long-profile-text {
    width: 45%;
}

img.profile-photo-about-me {
    width: 40%;
}

/* about me self storyboard zone */
.boards-box {
    overflow-x: auto;
}

.boards-box img {
    /* width: 1600px; */
    /* display: flex;
    justify-self: center; */
    /* I want this to have the default position at the center and not at the beginning */
}

/* full skills zone  */
.full-skills {
    display: flex;
}
.full-skills .skill-card-list {
    display: grid;
    justify-items: stretch;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 30% 1fr 30% 1fr 30%;
}

.full-skills .skill-card {
    width: 100%;
}

.full-skills .cta-zone {
    width: 100%;
    margin: 50px auto 20px;
    display: flex;
    justify-content: center;
}
button.download-pdf {
    padding: 20px 30px;
    font-size: 1.3rem;
    text-align: center;
    border: 0;
}

@media only screen and (max-width: 1024px) {
    body {
        background-color: lightcyan;
    }
    
}
@media only screen and (max-width: 768px) {
    body {
        background-color: lightgrey;
    }
}
@media only screen and (max-width: 320px) {
    body {
        background-color: lightyellow;
    }
}


/* ================================================================================= */
/* ================================================================================= */
/* ------------------------------------ WORKS PAGE --------------------------------- */
/* ================================================================================= */
/* ================================================================================= */

div.works-casestudy-card {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 50px;
    border: 1px solid rgb(214, 214, 214);
    margin-bottom: 1.5%;
    box-shadow: 3px 3px 6px rgb(214, 214, 214);
    position: relative;
}

svg.type-ribbon {
    width: 80px;
    height: 180px;
    position: absolute;
    right: 3%;
    top: -2px;
    
}

.type-ribbon polygon {
    fill: none;
    stroke: lightgray;
    stroke-width: 1;
    box-shadow: 3px 3px 6px rgb(214, 214, 214);
}

.type-ribbon text {
    fill: white;
    transform: rotate(90deg) translate(5px, -62px);
}

.bootcamp polygon {
    fill: #5A51C7;
}

div.works-project-images {
    max-width: 400px;
    min-height: 300px;
    padding: 20px 0;
    position: relative;
}

img.works-desktop-mockup-image {
    width: 85%;
    max-width: 450px;
    height: auto;
    margin-left: 2%;
}
img.works-mobile-mockup-image {
    width: 35%;
    max-width: 250px;
    margin-left: 2%;
    height: auto;
}

img#works-mtchB-desktop,
img#works-fccB-desktop {
    margin-left: -4%;
}
img#works-mtchB-mobile,
img#works-fccB-mobile {
    position: absolute;
    margin: 50px 0 0 -100px;
    max-width: 120px;
}

img.trailmix.works-mobile-mockup-image {
    margin-top: 30px;
}

div.works-project-description {
    width: 55%;
    display: flex;
    flex-direction: column;
}

p.works-project-detail {
    margin-bottom: 2%;
}

@media only screen and (max-width: 1024px) {
    body {
        background-color: lightcyan;
    }
    
}
@media only screen and (max-width: 768px) {
    body {
        background-color: lightgrey;
    }
}
@media only screen and (max-width: 320px) {
    body {
        background-color: lightyellow;
    }
}

/* ================================================================================= */
/* ================================================================================= */
/* ------------------------------------ RESUME PAGE -------------------------------- */
/* ================================================================================= */
/* ================================================================================= */

.resume-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.download-button {
    /* display: flex; */
    /* align-self: baseline; */
    margin-top: 18.6px;
}
.resume-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

h4.resume-topic-title.summary, 
h4.resume-topic-title.training{
    margin-top: 0;
}

.resume-topic-content {
    align-self: flex-start;
}

.resume-topic-content h5 {
    margin-bottom: 3px;
}

.resume-topic-content p {
    margin-top: 2px;
}

.resume-topic-content ul {
    padding-inline-start: 18px;
    margin-top: 5px;
}
.resume-topic-content.training ul {
    margin-top: 0px;
}

.resume-topic-content li {
    font-weight: 200;
    margin-bottom: 5px;
}

.resume-topic-content .institution:last-of-type li {
    margin-bottom: 40px;
}

@media only screen and (max-width: 1024px) {
    body {
        background-color: lightcyan;
    }
    
}
@media only screen and (max-width: 768px) {
    body {
        background-color: lightgrey;
    }
}
@media only screen and (max-width: 320px) {
    body {
        background-color: lightyellow;
    }
}