/*  general setup  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,400;0,600;0,800;1,300;1,400;1,500:1,600;1,800&display=swap'); /* Rubik Google Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap'); /* Nunito Google Font */

html, 
body {
    font-family: Rubik, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(83, 83, 83);
}

/* common stuff */
/* that blue color: #5A51C7 */
/* default text grey color: rgb(83, 83, 83); */

h4 {
    font-weight: 500;
    font-size: 1.1em;
}

h5 {
    font-weight: 400;
    font-size: 1.0em;
}
p {
    font-weight: 200;
    font-size: 1.0em;
}
h2.section-title {
    font-size: 1.4em;
    font-weight: 400;
}

.container-title {
  font-size: 1.2em;
  font-weight: 600;
}

a {
    text-decoration: none;
    color: rgb(83, 83, 83);   
}
a:hover {
    color: #5A51C7;
}

button {
    border-radius: 2px;
    cursor: pointer;
}
button.disabled {
    cursor: not-allowed;
    background-color: #a7a7a7;
}
button.disabled:hover,
button.disabled:active {
    background-color: #a7a7a7;
    box-shadow: none;
}

.btn-blue {
    background-color: #5A51C7;
    color: white;
}
.btn-blue:hover,
.btn-blue:active {
    background-color: #443D9B;
}
.btn-blue:active {
    box-shadow: inset 1px 1px 3px 2px rgb(36, 36, 36);
    box-sizing: border-box;
}

.btn-black {
    background-color: black;
    color: white;
}
.btn-black:hover,
.btn-black:active {
    background-color: #3B355A;
}
.btn-black:active {
    box-shadow: inset 1px 1px 3px 2px rgb(36, 36, 36);
    box-sizing: border-box;
}

/*  top nav area  */
header {
    display: inline-flex;
    width: 100%;
}


div.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

.logo img {
    width: 100%;
}

nav {
    width: 73%;
    padding: 1%;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
}

li.nav-item {
    margin: auto 8px;
    text-align: center;
    border-bottom: 4px solid transparent;
    padding: 8px 16px;
}

li.nav-item:hover {
    border-bottom: solid 4px #5A51C7;
}

li.nav-item.here-now {
    border-bottom: solid 4px #5A51C7;
}

nav a:hover {
    color: rgb(83, 83, 83);
}

/* section general */
.section-container {
    padding-top: 65px; /* default values */
}

.section-content {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid grey;
    padding-bottom: 65px; /* default values */
}

/*  Footer  */
footer {
    position: relative;
    padding-top: 30px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer-row {
    display: inline-flex;
    justify-content: space-between;
}

footer img.logoB {
    max-width: 250px;
    width: 10%;
    align-self: flex-start;
}
.sitemap {
    width: 72%;
    display: flex;
    justify-content: space-around;
}

ul.nav-column {
    list-style-type: none;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
}

.nav-column li {
    margin-bottom: 10px;
}

li.footer-nav-head {
    color: #5A51C7;
    font-weight: 600;
}

.footer-nav-head .minimize-break {
    display: none;
}

ul.disabled * { /* for sitemap endpoints that are not ready yet */
    opacity: 55%;
}

.sns-area {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.sns-area .sns-icon img {
    width: 25px;
    margin: 5px 0;
}

footer .copyright {
    font-size: 0.7rem;
    display: block;
    width: 100%;
    padding: 20px 0 10px;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    body {
        /* background-color: lightcyan; */
    }
    header {
        align-items: center;
    }
    .section-content {
        width: 90%;
        padding-bottom: 45px; /* default values */
    }
    footer {
        padding-top: 30px;
        width: 90%;
    }
    ul.nav-column {
        font-size: 0.8rem;
    }
    
}
@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        /* background-color: lightgrey; */
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    div.logo {
        min-width: 140px;
        padding-top: 2%;
        text-align: center;
    }

    .logo img {
        width: 100%;

    }

    
    nav {
        padding: 0;
    }
    nav.nav-list ul {
        margin: 8px auto;
        width: 100%;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-evenly;
        padding: 0;
    }

    .nav-list ul * {
        padding: 0;
    }

    li.nav-item {
        font-size: 0.9rem;
        padding: 4px 2px 10px;
    }

    .section-container {
        padding-top: 25px; /* default values */
    }

    footer img.logoB {
        width: 20%;
        max-width: none;
    }

    footer .nav-column a:not(.type-top) {
        display: none;
    }

    footer .sitemap {
        width: 50%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .footer-nav-head .minimize-break {
        display: block;
    }
 
}
@media only screen and (max-width: 320px) {
    body {
        /* background-color: lightyellow; */
    }

}

/* 404 page */
section.page-not-found {
    width: 100%;
}

.page-not-found .mug-zone {
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 225px;
    height: 250px;
}

#coffee {
    animation: spin 4s infinite linear;
    position: absolute;
    z-index: 10;
}

#coffee-text {
    position: absolute;
    z-index: 11;
    font-size: 2.2rem;
    font-weight: 600;
    margin-left: 35px;
    transform: skew(-2deg, 2deg);
    animation: showText 4s infinite linear;
    /* visibility: hidden; */
}

@keyframes spin {
    0% {
        transform: rotateY(360deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes showText {
    0% {
        transform: rotateY(180deg);
        /* visibility: hidden; */
        opacity: 0;
        color: white;
        
    }
    25% {
        transform: rotateY(90deg);
    }
    30% {
        opacity: 0;
    }
    31% {
        opacity: 1;
        transform: rotateY(68.4deg) translate(-12px, 0px);
    }


    50% {
        opacity: 1;
        color: black;
        transform: rotateY(0deg) translate(0px, 0px);
    }
    63% {
        opacity: 1;
        transform: rotateY(46.8deg) translate(8.2px, 0px);
    }
    64% {
        opacity: 0;
        
    }
    75% {
        transform: rotateY(-90deg);
    }

    100% {
        transform: rotateY(-180deg);
        /* visibility: hidden; */
        opacity: 0;
        color: white;
    }
}

/* ================================================================================= */
/* ================================================================================= */
/* ------------------------------- WORKS SUMMARY PAGE ------------------------------ */
/* ================================================================================= */
/* ================================================================================= */
section.work-portfolio {
  padding-top: 12px;
}

section.work-portfolio .content {
  width: 100%;
  box-shadow: 0px 4px 8px grey;
  border: 1px solid transparent;
  margin-bottom: 16px;
  padding: 0;
  height: 100%;
}

section.work-portfolio .content.website-sample .text-detail,
section.work-portfolio .content.logo-sample {
  background-color: #5A51C7;
  /* background-color: #515CC3; */
  color: white;
}

section.work-portfolio .content.website-sample,
section.work-portfolio .content.uxui-sample .rim-line,
section.work-portfolio .content.logo-sample .rim-line {
  display: flex;
  align-items: center;
}

section.work-portfolio .item {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

section.work-portfolio .rim-line {
  margin: 18px;
  border: 2px solid white;
}

section.work-portfolio .uxui-sample .rim-line {
  border-color: #5A51C7;
}

section.work-portfolio .item.text-detail {
  text-align: center;
  position: relative;
}

section.work-portfolio .item.text-detail .container-title {
  margin: 15% auto 32px;
}

section.work-portfolio .item.text-detail p {
  text-align: left;
  width: 66%;
  line-height: 1.5rem;
  margin: 0 auto;
  position: relative;
}

section.work-portfolio .item.text-detail .see-more-works-button {
  border: 1px solid;
  padding: 12px 36px;
  color: white;
  display: inline-block;
  margin: 32px auto 15%;
}

section.work-portfolio .item.text-detail .see-more-works-button.line {
  border-color: white;
}

section.work-portfolio .item.text-detail .see-more-works-button.solid {
  border-color: #5A51C7;
  background-color: #5A51C7;
}

section.work-portfolio .item.text-detail .see-more-works-button:hover {
  cursor: pointer;
  color: #5A51C7;
  background-color: white;
}

section.work-portfolio .item.sample-image {
  width: 100%;
  position: relative;
}
section.work-portfolio .item.sample-image img {
  width: 80%;
  margin: 32px auto;
  position: relative;
  display: flex;
}

section.work-portfolio .item.sample-image.websample {
  position: relative;
  display: flex;
  align-self: stretch;
}

section.work-portfolio .item.sample-image.websample img.devices {
  position: relative;
  object-fit: contain;
}

section.work-portfolio .item.sample-image.websample img.background {
  position: absolute;
  width: 100%;
  height: 66%;
  bottom: 0;
  margin: 0;
}

@media only screen and (max-width: 940px) {
  body {
      /* background-color: lightcyan; */
  }
  section.work-portfolio .item.sample-image img {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  body {
      /* background-color: lightyellow; */
  }
  section.work-portfolio .item.sample-image img {
    width: 96%;
  }
  section.work-portfolio .logo-sample .item.sample-image img {
    width: 80%;
  }
  section.work-portfolio .item.text-detail p {
    width: 82%;
  }
  section.work-portfolio .item.text-detail .container-title {
    margin: 15% auto 24px;
  }
  section.work-portfolio .item.text-detail .see-more-works-button {
    margin: 24px auto 15%;
  }
  
}

@media only screen and (max-width: 610px) {
  body {
      /* background-color: lavender; */
  }

  section.work-portfolio .content.uxui-sample .rim-line{
    flex-direction: column;
  }

  section.work-portfolio .content.website-sample,
  section.work-portfolio .content.logo-sample .rim-line {
    flex-direction: column-reverse;
  }

  section.work-portfolio .item.sample-image img,
  section.work-portfolio .logo-sample .item.sample-image img {
    width: 66%;
  }
  section.work-portfolio .item.text-detail .container-title {
    margin: 5% auto 24px;
  }
  section.work-portfolio .item.text-detail .see-more-works-button {
    margin: 24px auto 5%;
  }
}

@media only screen and (max-width: 350px) {
  body {
      /* background-color: lavenderblush; */
  }

  section.work-portfolio .item.sample-image img {
    width: 80%;
  }

  section.work-portfolio .item.text-detail .container-title {
    margin: 8% auto 16px;
  }
  section.work-portfolio .item.text-detail .see-more-works-button {
    margin: 24px auto 8%;
  }

  section.work-portfolio .item.text-detail p {
    width: 90%;
  }
}

/* ================================================================================= */
/* ================================================================================= */
/* --------------------------------- WEBSITES PAGE --------------------------------- */
/* ================================================================================= */
/* ================================================================================= */
.section-container.webdev-projects {
  padding-top: 2%;
}

.webdev-projects .section-content {
  border: 4px solid #5A51C7;
  box-sizing: border-box;
  width: 96%;
  margin-top: 0;
  padding: 2% 4%;
}

.webdev-projects .listing .case {
  display: flex;
  align-items: center;
  justify-content: center;
}

.webdev-projects .listing .case .image-container,
.webdev-projects .listing .case .detail-container {
  width: 100%;
  position: relative;
  padding: 8%;
  display: flex;
}

.webdev-projects .listing .case .image-container img.thumbnail {
  width: 60%;
  margin: 0 auto;
}

.webdev-projects .listing .case .image-container img.thumbnail.wide {
  width: 75%;
}

@media only screen and (max-width: 768px) {
  body {
      /* background-color: lightyellow; */
  }
  .webdev-projects .listing .case .image-container,
  .webdev-projects .listing .case .detail-container {
    padding: 4%;
  }
  
  .webdev-projects .listing .case .image-container img.thumbnail {
    width: 70%;
  }
  
  .webdev-projects .listing .case .image-container img.thumbnail.wide {
    width: 80%;
  }
}

@media only screen and (max-width: 475px) {
  body {
      /* background-color: lavenderblush; */
  }
  .webdev-projects .listing .case {
    flex-direction: column;
    margin-bottom: 4%;
    border-bottom: 1px solid #5b51c783;
  }
  .webdev-projects .listing .case:last-of-type {
    border-bottom: none;
  }
  .webdev-projects .listing .case .image-container img.thumbnail {
    width: 50%;
  }
  
  .webdev-projects .listing .case .image-container img.thumbnail.wide {
    width: 70%;
  }
}

/* ================================================================================= */
/* ================================================================================= */
/* --------------------------------- UX/UI HOME PAGE ------------------------------- */
/* ================================================================================= */
/* ================================================================================= */

/*  For Hero Copy Section  */
section.top-ux-hero-area {
    padding-top: 0px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    
}
.top-ux-hero-area .section-content {
    padding-bottom: 125px;
    height: 100px;
}

.hero-copy-text {
    margin-top: 120px;
}

.hero-copy-text h1 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 1.6em;
    font-weight: 100;
    font-style: italic;
}

.hero-copy-text h1 b {
    font-weight: 400;
}

h1.animated-text {
    /* height: 20px; */
    margin: 0;
}

h1#copy1 {
    animation: copySlideIn 30s ease-in-out 0s infinite backwards;
}
h1#copy2 {
    animation: copySlideIn 30s ease-in-out 7.5s infinite backwards;
}
h1#copy3 {
    animation: copySlideIn 30s ease-in-out 15s infinite backwards;
}
h1#copy4 {
    animation: copySlideIn 30s ease-in-out 22.5s infinite backwards;
}

@keyframes copySlideIn {
    0% {
        visibility: hidden;
        height: 0;
        transform: translateX(-100%);
        
    }
    6.75% {
        visibility: visible;
        height: 100%;
        transform: translateX(0);
    }
    12.5% {
        visibility: visible;
        height: 100%;
        transform: translateX(0);
    }
    18.75% {
        visibility: visible;
        height: 100%;
        transform: translateX(0);
    }
    25% {
        visibility: hidden;
        height: 0;
        transform: translateX(100%);
    }
    100% {
        visibility: hidden;
        height: 0;
        transform: translateX(100%);
    }
}

/*  For short self intro Section  */
section.short-self-intro {
    padding-top: 105px;
}
.short-self-intro .section-content  {
    overflow: auto;
    display: flex;
    align-items: center;
    padding-bottom: 105px;
}
img.profile-photo-home {
    width: 25%;
    margin-left: 80px;
}

.quick-profile-text {
    width: 45%;
    /* max-width: 600px; */
    margin-right: 60px;
    margin-left: 80px;
}

.quick-profile-text h5 {
    font-size: 1.3rem;
    color: #969696;
    font-weight: 200;
}

/* short skills section */

section.short-skills {
    /* padding-top: 65px; */
}
.short-skills .section-content {
    overflow: auto;
    padding-bottom: 125px;
}

.skill-card-list {
    display: inline-flex;
    flex-direction: row;
    padding: 20px 0;
    align-items: flex-start;
    justify-content: space-between;
}

.skill-card {
    width: 25%;
}


/* works sneakpeak area */
section.works-sneakpeak {

}
.works-sneakpeak .section-content {
}

div.casestudy-card {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
}

div.project-images {
    max-width: 600px;
    min-height: 300px;
    padding: 20px 0;
    position: relative;
}

img.desktop-mockup-image {
    width: 85%;
    max-width: 450px;
    height: auto;
    margin-left: 2%;
}
img.mobile-mockup-image {
    width: 35%;
    max-width: 250px;
    margin-left: 2%;
    height: auto;
}

img#mtch-desktop {
    margin-left: -4%;
}
img#mtch-mobile {
    position: absolute;
    margin: 50px 0 0 -100px;
    max-width: 120px;
}

img.trailmix {
    margin-top: 30px;
}

div.project-description {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.project-description a {
    display: flex;
    justify-content: center;
}

p.project-detail {
    margin-bottom: 2%;
}
button.read-more {
    padding: 10px 32px;
    font-size: 1.0em;
    border: none;
    margin: 10px auto 0;
}


@media only screen and (max-width: 1024px) {
    body {
        /* background-color: lightcyan; */
    }
    
}
@media only screen and (max-width: 768px) {
    body {
        /* background-color: lightgrey; */
    }

    .top-ux-hero-area .section-content {
        padding-bottom: 75px;
    }
    
    .hero-copy-text {
        margin-top: 60px;
    }
    
    .hero-copy-text h1 {
        font-size: 1.3em;
    }

    .hero-copy-text h1#copy1,
    .hero-copy-text h1#copy2,
    .hero-copy-text h1#copy4 {
        /* display: none; */
    }
    h1#copy3 {
        /* animation: none; */
    }

    section.short-self-intro {
        padding-top: 45px;
    }
    .short-self-intro .section-content  {
        flex-direction: column;
        padding-bottom:45px;
    }
    img.profile-photo-home {
        width: 66%;
        margin: 0 auto;
    }
    
    .quick-profile-text {
        width: 90%;
        margin: 0 auto;
    }
    
    .quick-profile-text h5 {
        font-size: 1.1rem;
    }

    .short-skills .section-content {
        padding-bottom: 45px;
    }
    
    .skill-card-list {
        flex-direction: column;
        padding: 10px 0;
        align-items: center;
    }
    
    .skill-card {
        width: 90%;
    }

    section.short-skills,
    section.works-sneakpeak {
        padding-top: 25px;
    }

    div.casestudy-card {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        justify-content: center;
        width: 90%;
    }
    
    div.project-images {
        max-width: 600px;
        min-height: 220px;
        margin: 2% auto;
    }
    div.project-images#mtch {
        margin-bottom: 10px;
    }
    div.project-images#trailmix {
        display: flex;
        align-items: center;
    }
    
    img.desktop-mockup-image {
        width: 100%;
        max-width: 450px;
        margin-left: 0%;
    }
    img.mobile-mockup-image {
        width: 35%;
    }
    
    img#mtch-desktop {
        margin-left: 0%;
    }
    img#mtch-mobile {
        width: 30%;
        margin: 50px 0 0 -90px;
    }
    
    img.trailmix {
        margin-top: 30px;
        margin: 30px auto 10px;
    }

    .project-title {
        text-align: center;
        margin: 2% auto;
    }
    
    div.project-description {
        width: 100%;
        margin: 0 auto;
    }

    
    
    p.project-detail {
        margin: 2% auto;
    }

}
@media only screen and (max-width: 320px) {
    body {
        /* background-color: lightyellow; */
    }
}


/* ================================================================================= */
/* ================================================================================= */
/* ------------------------------------ ABOUT PAGE --------------------------------- */
/* ================================================================================= */
/* ================================================================================= */

/* about me top area */
.about-me-self-intro .section-content {
    
}
.long-profile-zone {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p.long-profile-text {
    width: 45%;
}

img.profile-photo-about-me {
    width: 40%;
}

/* about me self storyboard zone */
.boards-box {
    overflow-x: auto;
}

.boards-box img {
    /* width: 1600px; */
    /* display: flex;
    justify-self: center; */
    /* I want this to have the default position at the center and not at the beginning */
}

/* full skills zone  */
.full-skills {
    display: flex;
}
.full-skills .skill-card-list {
    display: grid;
    justify-items: stretch;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 30% 1fr 30% 1fr 30%;
}

.full-skills .skill-card {
    width: 100%;
}

.full-skills .cta-zone {
    width: 100%;
    margin: 50px auto 20px;
    display: flex;
    justify-content: center;
}
button.download-pdf {
    padding: 20px 30px;
    font-size: 1.3rem;
    text-align: center;
    border: 0;
}

@media only screen and (max-width: 1024px) {
    body {
        /* background-color: lightcyan; */
    }
    .boards-box img {
        width: 1300px;
    }
    
}
@media only screen and (max-width: 768px) {
    body {
        /* background-color: lightgrey; */
    }
    .long-profile-zone {
        flex-direction: column;    
    }
    p.long-profile-text {
        width: 90%;
    }
    
    img.profile-photo-about-me {
        width: 40%;
        order: -1;
    }

    .storyboard-area h2.section-title {
        font-size: 1.1em;
    }

    .boards-box img {
        width: 1000px;
    }
    .full-skills .skill-card-list {
        display: grid;
        grid-template-rows: 20% 2.5% 20% 2.5% 20% 15% 2.5% 15% 2.5%;
        grid-template-columns: 1fr;
    }
    .full-skills .cta-zone {
        margin: 20px auto 20px;
    }
}
@media only screen and (max-width: 320px) {
    body {
        /* background-color: lightyellow; */
    }
}


/* ================================================================================= */
/* ================================================================================= */
/* ------------------------------------ WORKS PAGE --------------------------------- */
/* ================================================================================= */
/* ================================================================================= */

div.works-casestudy-card {
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 50px;
    border: 1px solid rgb(214, 214, 214);
    margin-bottom: 1.5%;
    box-shadow: 3px 3px 6px rgb(214, 214, 214);
    position: relative;
}

svg.type-ribbon {
    width: 80px;
    height: 180px;
    position: absolute;
    right: 3%;
    top: -2px;
    
}

.type-ribbon polygon {
    fill: none;
    stroke: lightgray;
    stroke-width: 1;
    box-shadow: 3px 3px 6px rgb(214, 214, 214);
}

.type-ribbon text {
    fill: white;
    transform: rotate(90deg) translate(5px, -62px);
}

.bootcamp polygon {
    fill: #5A51C7;
}

div.works-project-images {
    max-width: 400px;
    min-height: 300px;
    padding: 20px 0;
    position: relative;
}

img.works-desktop-mockup-image {
    width: 85%;
    max-width: 450px;
    height: auto;
    margin-left: 2%;
}
img.works-mobile-mockup-image {
    width: 35%;
    max-width: 250px;
    margin-left: 2%;
    height: auto;
}

.works-project-description a {
    justify-content: center;
    display: flex;
}

img#works-mtchB-desktop,
img#works-fccB-desktop {
    margin-left: -4%;
}
img#works-mtchB-mobile,
img#works-fccB-mobile {
    position: absolute;
    margin: 50px 0 0 -100px;
    max-width: 120px;
}

img.trailmix.works-mobile-mockup-image {
    margin-top: 30px;
}

div.works-project-description {
    width: 55%;
    display: flex;
    flex-direction: column;
}

p.works-project-detail {
    margin-bottom: 2%;
}

@media only screen and (max-width: 1024px) {
    body {
        /* background-color: lightcyan; */
    }
    
}
@media only screen and (max-width: 768px) {
    body {
        /* background-color: lightgray; */
        
    }
    div.works-casestudy-card {
        
        flex-direction: column;
        padding: 40px 20px 60px;
    }

    div.works-project-description {
        width: 85%;
    }
    .works-project-title {
        margin-top: 0;
    }

    
}
@media only screen and (max-width: 320px) {
    body {
        /* background-color: lightyellow; */
    }
}

/* ================================================================================= */
/* ================================================================================= */
/* ------------------------------------ RESUME PAGE -------------------------------- */
/* ================================================================================= */
/* ================================================================================= */

.resume-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.download-button {
    /* display: flex; */
    /* align-self: baseline; */
    margin-top: 18.6px;
}
.resume-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

h4.resume-topic-title.summary, 
h4.resume-topic-title.training{
    margin-top: 0;
}

.resume-topic-content {
    align-self: flex-start;
}

.resume-topic-content h5 {
    margin-bottom: 3px;
}

.resume-topic-content p {
    margin-top: 2px;
}

.resume-topic-content ul {
    padding-inline-start: 18px;
    margin-top: 5px;
}
.resume-topic-content.training ul {
    margin-top: 0px;
}

.resume-topic-content li {
    font-weight: 200;
    margin-bottom: 5px;
}

.resume-topic-content .institution:last-of-type li {
    margin-bottom: 40px;
}

@media only screen and (max-width: 1024px) {
    body {
        /* background-color: lightcyan; */
    }
    
}
@media only screen and (max-width: 599px) {
    body {
        /* background-color: lightgrey; */
    }
    .resume-grid {
        grid-template-columns: 1fr;
    }

    .resume-topic-title {
        margin-bottom: 0;
    }

    .resume-topic-title.summary {
        margin: 23px 0;
    }

    .resume-topic-title .for-2-column {
        display: none;
    }

    .resume-topic-title.training {
        padding: 23px 0;
    }
    
    .resume-topic-content:not(.training) {
        border-bottom: 1px solid rgb(199, 199, 199);
        padding-bottom: 5px;
    }

    .resume-topic-content.education {
        padding-bottom: 5px;
        align-items: space-between;
        display: flex;
        flex-direction: column;
    }

    .resume-head .download-button button {
        padding: 10px;
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 320px) {
    body {
        /* background-color: lightyellow; */
    }
    .resume-head .download-button button {
        padding: 7px;
        font-size: 0.7rem;
    }
}



/* ================================================================================= */
/* ================================================================================= */
/* ------------------------------------ CONNECT PAGE --------------------------------- */
/* ================================================================================= */
/* ================================================================================= */


section.connect .section-content {
    display: flex;
    
}

.form-field {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.form-field label {
    margin-bottom: 4px;
    font-size: 0.9rem;
}

.form-field input {
    background-color: #443D9B;
    padding: 5px 15px;
    color: white;
    font-weight: 100;
    border-radius: 2px;
}

.form-field input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(167, 167, 167);
    opacity: 1; /* Firefox */
}
.form-field input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(167, 167, 167);
}
.form-field input::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(167, 167, 167);
}

.form-field input:focus {
    font-weight: 600;
    border-color: #5A51C7; /* not happening though */
}

.form-field .help-text p {
    font-size: 0.8rem;
    margin-top: 5px;
    display: none;
}

.help-text .error-message {
    color: rgb(172, 0, 0);
}

.help-text .default {
    color: #5A51C7;
}

.help-text p.show {
    display: block;
}

.checkboxes {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.topic-item {
    padding: 5px;
}

input[type="checkbox"]:checked:before {
    position: relative;
    display: block;
    width: 11px;
    height: 11px;
    border: 1px solid #5A51C7;
    content: "";
    background-color: white;
}
input[type="checkbox"]:checked:after {
    position: relative;
    display: block;
    left: 2px;
    top: -11px;
    width: 9px;
    height: 9px;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: #5A51C7; */
    background-image: url('../images/misc/eighthnote.png');
    /* background-image: url('../images/misc/eighthrest.png'); */
    /* background-image: url('../images/misc/gclef.png'); */
    background-size: 9px;
}
.connect .left {
    width: 45%;
    position: relative;
}

.connect .left button.submit-form {
    padding: 8px 32px;
    margin: 0 auto;
    display: flex;
}
.connect .right {
    /* border: 1px solid black; */
    width: 45%;
    margin: 0 auto;
    position: relative;
}

img.cups {
    width: 340px;
    position: absolute;
    right: 0;
    bottom: 30px;
    
}

.vapor {
    position: absolute;
    max-width: 20px;
}

.vapor.FL {
    right: 272px; 
    bottom: 100px;
    animation: vapor 8s infinite ease-in;
}

.vapor.FR {
    right: 235px; 
    bottom: 110px;
    animation: vapor 5s infinite ease-in;
}

.vapor.BL {
    right: 72px; 
    bottom: 280px;
    animation: vapor 6s infinite ease-in;
}

.vapor.BR {
    right: 45px; 
    bottom: 278px;
    animation: vapor 8s infinite ease-in;
}

@keyframes vapor {
    0% {
        opacity: 0.5;
        transform: rotateY(0) scaleY(1.0);
    }
    50% {
        opacity: 0.9;
        transform: rotateY(45deg) scaleY(1.1);
    }
    100% {
        opacity: 0.5;
        transform: rotateY(0) scaleY(1.0);
    }
}

.form-response-overlay {
    position: fixed;
    z-index: 900;
    width: 0vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-response-overlay.showModal {
    width: 100vw;
    transition: all 0.5s;
}

.form-response-overlay .message-card {
    width: 35%;
    height: fit-content;
    background-color: white;
    visibility: visible;
    opacity: 1;
    padding: 20px;
}
.form-response-overlay .message-card.collapsed {
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    overflow: auto;
    padding: 0px;
}



.message-card .message-card-border {
    border: 4px solid #5A51C7;
    padding: 24px 50px;
    text-align: center;
    color: #5A51C7;
    font-size: 1.3rem;
}

button.close-overlay {
    padding: 8px 38px;
}

.success-response {
    display: block;
}

.error-response {
    display: none;
    color: rgb(148, 3, 3);
}


/* ================================================================================= */
/* ================================================================================= */
/* ------------------------------------ CASESTUDY: TRAILMIX PAGE --------------------------------- */
/* ================================================================================= */
/* ================================================================================= */
.trailmix-cs .external-casestudy button{
    padding: 10px 20px;
}
.trailmix-cs-head .row{
    display: flex;
}
.trailmix-cs-head .works-project-images {
    width: 50vw;
    max-width: 600px;

}
.trailmix-cs-head .case-study-project-description {
    width: 50vw;
    max-width: 600px;
    float: right;
}

.case-study-project-description .project-detail b {
    font-size: 0.8em;
}

.section-content.trailmix-cs-cta {
    text-align: center;
}


@media only screen and (max-width: 1024px) {
    /* body {
        background-color: lightcyan;
    } */
    .trailmix-cs-head .case-study-project-description .project-title {
        text-align: left;
    }
    
}
@media only screen and (max-width: 599px) {
    /* body {
        background-color: lightgrey;
    } */
    .trailmix-cs-head .row {
        display: flex;
        flex-direction: column;
    }
    .trailmix-cs-head .works-project-images {
        width: fit-content;
        margin: 0 auto;
        display: inline-flex;
        justify-content: center;
        min-height: unset;
    }
    .trailmix-cs-head .works-project-images img{
        max-width: 33%;
        margin: 0 auto;
        height: 100%;
    }

    .trailmix-cs-head .case-study-project-description {
        width: 80%;
        margin: 0 auto;
    }

}
@media only screen and (max-width: 320px) {
    /* body {
        background-color: lightyellow;
    } */
    .trailmix-cs-head .works-project-images {
        width: 100%;
    }
    .trailmix-cs-head .works-project-images img{
        width: 40%;
        max-width: 45%;
        
    }
}